.sideMenu{
    min-height: 100vh;
    background-color: #FFB95C;
}

.sideMenu h1{
    text-align: start;
    padding-left: 16px;
}
.dashNavLink{
    color: #000;
    text-decoration: none;
    text-align: center;
}