.loginImg{
    width: 100%;
    height: 100vh;
    object-fit: cover;    
}


.loginSection{
    margin-top: 80px !important;
}

.loginSection h1 {
    text-align: start;
    color: #707070 !important
}

.loginSection p{
    text-align: start;
    font-size: 1.4em;
    color: #707070 !important;

}

.userTextInput{
    width: 300px !important;
}

.btnLogin{
    background-color: #5F235A !important;
}